<p>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p>İlan Ekle/Düzenle</p>
      </div>
      <div class="panel-body">
        <%= simple_form_for(@notice) do |f| %>
          <%= f.input :title, label: "Başlık", placeholder: 'Başlık 180 karakterden fazla olamaz!' %>
          <%= f.input :message, label: "İlan Metni" %>
          <%= f.button :submit, "Kaydet", class: 'btn btn-success' %>
          <%= link_to 'Geri Git', notices_path, class: 'btn btn-warning' %>
        <% end %>
      </div>
    </div>
  </div>
</div>